#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@media (prefers-color-scheme: dark) {
  #root {
    color: white;
  }
  .item {
    background: #242424;
  }

  .checked {
    background-color: #4e4c4c;
  }
}

@media (prefers-color-scheme: light) {
  #root {
    color: #242424;
  }
  .item {
    background: white;
  }

  .checked {
    background-color: #e3f2fd;
  }
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.search {

}

.item {
  display: flex;
  align-items: center;
  cursor: move;
}
